extends pandoc

snippet pheader "Pandoc Header" b
---
title: '$1'
subtitle: '$2'
author: 
- name: Ulf Eliasson
  affiliation: Volvo Car Group
  email: ulf.eliasson@volvocars.com
abstract: |
    $3
date: $4
documentclass: scrartcl
...

# $5
$0
endsnippet
# vim:ft=snippets:
